@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');
:root {
  --slide-width: 100vw;
  --slide-height: 62.5vw;
  --main-color: #424242;
  --main-font-size: 1rem;
  --main-font-weight: normal;
  --main-line-height: 1.3;
  --heading-color: #003B49;
  --heading-font-weight: bold;
  --heading1-size: 3.77rem;
  --heading2-size: 2.11rem;
  --heading3-size: 1.55rem;
  --heading4-size: 1rem;
  --main-font: "Lato", sans-serif;
  --heading-font: 'Maven Pro', sans-serif;
  --math-color: #9A2617; /* Dark Ruby */
  --link-color: #00008B;
  --link-color-hover: #0000f1;
  --footer-font-size: 0.6rem;
  --background-color: #FFF;
  --alternate-background: #003B49; /* Dark Cyan */
  --alternate-color: #FFF;
  --running-title: '';
}

html {
  height: 100%;
  /* the font needs to scale with the slide size */
  font-size: 2.66vw;
}
@media (min-aspect-ratio: 16/10) {
  /* if the view port is too *wide*, we use the height as unit */
  :root {
    --slide-width: 160vh;
    --slide-height: 100vh;
  }
  html {
    font-size: 4.25vh; /* =(normal font-size)*16/10 */
  }
}

/*********************************************
 * BACKGROUND
 *********************************************/
body {
  /* normalize */
  margin: 0;
  padding: 0;
}

@media screen {
  /* these settings are not needed for printing */
  body {
    height: 100%;
    background-color: #eee;
  }
  /* presentation settings (non-dev) */
  body:not(.dev) {
    /* center the viewport both vertically and horizontally */
    display: flex;
    align-items: center; /* horizontal alignment */
    justify-content: center; /* vertial alignment */
  }
}

/*********************************************
 * VIEWPORT FOR THE SLIDES
 *********************************************/
article {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  color: var(--main-color);
  flex: none; /* no actual flexing is happening with this element */
  counter-reset: slides;
}

@media screen {
  /* these settings are not needed for printing */
  body:not(.dev) > article {
    width: var(--slide-width);
    height: var(--slide-height);

    /* scroll-snap */
    scroll-snap-type: x mandatory;

    /* display the slides in a row */
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;

    /* drop shadow */
    filter: drop-shadow(0 0 0.2rem #666);
  }
}

/*********************************************
 * SLIDE
 *********************************************/
section {
  flex: none; /* no actual flexing is happening with this element */
  text-align: center;
  line-height: var(--main-line-height);
  overflow: hidden; /* if the slide has too much content, it gets cut off */
  counter-increment: slides;
  position: relative;
  background-color: var(--background-color);
}

@media screen {
  /* these settings are not needed for printing */
  section {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    height: 100%;
    width: 100%;
  }

  /* dev settings */
  body.dev > article > section {
    width: var(--slide-width);
    height: var(--slide-height);
    margin-bottom: 2rem;
    filter: drop-shadow(0 0 0.2rem #666);
  }
}

/*********************************************
 * PDF SETTINGS
 *********************************************/
@page {
  /* TODO: find out why I can't set this to 185mm */
  size: 296mm 186mm;
  margin: 0;
}
@media print {
  section {
    width: 296mm;
    height: 185mm;

    break-inside: avoid; /* one slide per page */
  }
}

/*********************************************
 * COLORATION
 *********************************************/
section.alternate-style {
  background-color: var(--alternate-background);
}
section.alternate-style,
section.alternate-style h1,
section.alternate-style h2,
section.alternate-style h3,
section.alternate-style h4,
section.alternate-style h5,
section.alternate-style h6 {
  color: var(--alternate-color);
}

/*********************************************
 * FOOTER
 *********************************************/
section:not(:first-child)::before {
  content: var(--running-title);
  position: absolute;
  /* bottom: 0.25rem;
  left: 0.25rem; */
  bottom: 0;
  left: 0;
  /* width: 1.65em; */
  width: 100%;
  /* height: 1.65em; */
  /* display: grid;
  place-content: center; */
  font-size: var(--footer-font-size);
  color: var(--alternate-color);
  background-color: var(--alternate-background);
  padding: 0.1rem 0;
}
section:not(:first-child)::after {
  content: counter(slides);
  position: absolute;
  bottom: 0;
  right: 1rem;
  /* width: 1.65em; */
  /* height: 1.65em; */
  /* display: grid;
  place-content: center; */
  font-size: var(--footer-font-size);
  color: var(--alternate-color);
  background-color: var(--alternate-background);
  padding: 0.1rem 0;
}

/*********************************************
 * PARAGRAPHS AND HEADINGS
 *********************************************/
section p {
  margin: 0.5rem 1rem;
  line-height: 1.3;
}
section h1,
section h2,
section h3 {
  padding: 1.5rem 0 0.75rem 0;
  margin: 0;
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
}

section h1 {
  font-size: var(--heading1-size);
}

section h2 {
  font-size: var(--heading2-size);
}

section h3 {
  font-size: var(--heading3-size);
}

section h4 {
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--main-color);
  margin: 0.5rem 0;
  line-height: 1.3;
}
/* Remove trailing margins after titles */
section h1:last-child,
section h2:last-child,
section h3:last-child,
section h4:last-child,
section h5:last-child,
section h6:last-child {
  margin-bottom: 0;
}

/*********************************************
 * LISTS
 *********************************************/
section > ul,
section > ol { /* top level ul/ol */
  margin-left: 1rem;
  margin-right: 1rem;
}
section ol,
section dl,
section ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1rem;
}

section li:not(:first-child) {
  margin-top: 0.5rem;
}

section ol {
  list-style-type: decimal;
}

section ul {
  list-style-type: disc;
}

section ul ul {
  list-style-type: square;
}

section ul ul ul {
  list-style-type: circle;
}

section ul ul,
section ul ol,
section ol ol,
section ol ul {
  display: block;
  margin: 0.25rem 0 0 1.25rem;
}

/*********************************************
 * COLUMNS
 *********************************************/
multi-col {
  display: flex;
  text-align: left;
  margin: 0 2rem;
}
one-col {
  flex: 1;
}
one-col:not(:first-child) {
  margin-left: 1rem;
}

/*********************************************
 * MATH
 *********************************************/
section math {
  color: var(--math-color);
  font-size: 1.2rem;
}
/*********************************************
 * CODE
 *********************************************/
section pre {
  font-size: 0.55rem;
  text-align: left;
  word-wrap: break-word;
  margin-left: 3rem;
  margin-right: 3rem;
}
